<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="{{assets}}/css/bootstrap.min.css">
        <!-- Built Stylesheets -->
        <link rel="stylesheet" href="{{assets}}/css/gfsite.css">
        <link rel="stylesheet" href="{{assets}}/css/gf-debug.css">
    </head>

    <body>
        <!-- Top Navbar -->
        <header>
           <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex7-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="logo" href=""><img src="{{assets}}/img/logo.png" alt="grapefruitjs"/></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-ex7-collapse pull-right">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">API Docs</a></li>
                        <li><a href="#">Blog</a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
          </nav>
        </header>

        {{> body }}

        <!-- Footer Area -->
        <footer style="margin: 50px 0 25px;">
            <div class="container text-center">
                <p>© 2013 Company, Inc. · <a href="#">License</a> · <a href="#">Terms</a> · <a href="#">etc</a> </p>
            </div>
        </footer>
        <!-- jQuery
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
        <script>window.jQuery || document.write('<script src="{{assets}}/js/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Pace.js -->
        <script src="{{assets}}/js/pace.min.js"></script>

        <!-- Bootstrap.js -->
        <script src="{{assets}}/js/bootstrap.min.js"></script>
        <!-- game files -->
        <script src="{{assets}}/js/gf.js"></script>
        <script src="{{assets}}/js/gf-debug.js"></script>
        <!-- main js -->
        <script src="{{assets}}/js/gfsite.js"></script>
    </body>
</html>